<div class="row">
    <div class="col-md-5">
        <app-recipe-list></app-recipe-list>
    </div>
    <!-- i want for detail show in another way  -->
    <div class="col-md-7">
    <router-outlet></router-outlet>
    <!-- with that i will pe show recipe-start bs its child for recipe  -->

        <!-- <app-recipe-detail
        *ngIf="selectedRecipe; else infoText"
        [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <p>select a Recipe!</p>
        </ng-template> -->
    </div>
</div>